[Desktop Entry]
Icon=whiteboard
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kopete_whiteboard
X-KDE-ParentApp=kopete_whiteboard
X-KDE-ParentComponents=kopete_whiteboard

Name=whiteboard Plugin Configuration
Name[bs]=konfiguracija priključka table
Name[cs]=Nastavení modulu Tabule
Name[de]=Einrichtung des Whiteboard-Moduls
Name[es]=Configuración del complemento pizarra
Name[fr]=Configuration du module externe de tableau blanc
Name[hu]=faliújság bővítmény beállítása
Name[nl]=Plugin-configuratie van whiteboard
Name[pl]=Konfiguracja wtyczki białej tablicy
Name[pt]=Configuração do 'Plugin' do Quadro
Name[pt_BR]=Configuração do plugin do whiteboard
Name[sk]=Nastavenie pluginu Tabuľa
Name[sv]=Inställning av insticksprogram för skrivtavla
Name[tr]=whiteboard Eklenti Yapılandırması
Name[ug]=ئاق تاختا قىستۇرمىسى سەپلىمىسى
Name[uk]=Налаштування додатка дошки
Name[x-test]=xxwhiteboard Plugin Configurationxx
Comment=whiteboard Plugin
Comment[bs]=priključak table
Comment[cs]=Modul Tabule
Comment[de]=Whiteboard-Modul
Comment[es]=Complemento pizarra
Comment[fr]=Module externe de tableau blanc
Comment[hu]=faliújság bővítmény
Comment[nl]=Plugin van whiteboard
Comment[pl]=Wtyczka białej tablicy
Comment[pt]='Plugin' do Quadro
Comment[pt_BR]=Plugin do whiteboard
Comment[sk]=Plugin Tabuľa
Comment[sv]=Insticksprogram för skrivtavla
Comment[tr]=whiteboard Eklentisi
Comment[ug]=ئاق تاختا قىستۇرمىسى
Comment[uk]=Додаток дошки для малювання
Comment[x-test]=xxwhiteboard Pluginxx
