[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Kopete-Version=1000900
#Icon=preferences-whiteboard-kopete
Icon=view-pim-summary
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_whiteboard
X-KDE-PluginInfo-Author=Lukas Pohl
X-KDE-PluginInfo-Email=dr.zoidberg1969@yahoo.com
X-KDE-PluginInfo-Name=kopete_whiteboard
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Whiteboard
Name[cs]=Tabule
Name[hu]=Faliújság
Name[nl]=Whiteboard
Name[pl]=Biała tablica
Name[pt]=Quadro Branco
Name[pt_BR]=Whiteboard
Name[sk]=Tabuľa
Name[sv]=Skrivtavla
Name[tr]=Beyaz Tahta
Name[uk]=Обмін малюнками
Name[x-test]=xxWhiteboardxx
Comment=Collaborative drawing and sharing multimedia content
Comment[cs]=Společné kreslení a sdílení multimediálního obsahu
Comment[hu]=Együttműködő rajzolás és multimédiás tartalom megosztása
Comment[nl]=In samenwerking gemaakte tekening en delen van multimedia-inhoud
Comment[pl]=Wspólne rysowanie i dzielenie się treścią multimedialną
Comment[pt]=Desenho e partilha colaborativos de conteúdos multimédia
Comment[pt_BR]=Desenho colaborativo e compartilhamento de conteúdo multimídia
Comment[sk]=Spoločné kreslenie a zdieľanie multimediálneho obsahu
Comment[sv]=Rita och dela multimedia tillsammans
Comment[tr]=Birlikte çoklu ortam içeriği çizme ve paylaşma
Comment[uk]=Спільне малювання та обмін мультимедійними даними
Comment[x-test]=xxCollaborative drawing and sharing multimedia contentxx
