[Desktop Entry]
Icon=whiteboard
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kopete_whiteboard
X-KDE-ParentApp=kopete_whiteboard
X-KDE-ParentComponents=kopete_whiteboard

Name=whiteboard Plugin Configuration
Name[nl]=Plugin-configuratie van whiteboard
Name[pt]=Configuração do 'Plugin' do Quadro
Name[pt_BR]=Configuração do plugin do whiteboard
Name[sv]=Inställning av insticksprogram för skrivtavla
Name[uk]=Налаштування додатка дошки
Name[x-test]=xxwhiteboard Plugin Configurationxx
Comment=whiteboard Plugin
Comment[nl]=Plugin van whiteboard
Comment[pt]='Plugin' do Quadro
Comment[pt_BR]=Plugin do whiteboard
Comment[sv]=Insticksprogram för skrivtavla
Comment[uk]=Додаток дошки для малювання
Comment[x-test]=xxwhiteboard Pluginxx
