[Desktop Entry]
Icon=whiteboard
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kopete_whiteboard
X-KDE-ParentApp=kopete_whiteboard
X-KDE-ParentComponents=kopete_whiteboard

Name=whiteboard Plugin Configuration
Name[et]=Valgetahvli plugina seadistused
Name[hu]=Faliújság modul beállítása
Name[km]=កា​រ​កំណត់​រចនាសម្ព័ន្ធ​កម្មវិធី​ជំនួយ whiteboard
Name[nl]=Plugin-configuratie van whiteboard
Name[pl]=Konfiguracja wtyczki białej tablicy
Name[pt]=Configuração do 'Plugin' do Quadro
Name[pt_BR]=Configuração do plugin do whiteboard
Name[sr]=Подешавање прикључка за блокче
Name[sr@ijekavian]=Подешавање прикључка за блокче
Name[sr@ijekavianlatin]=Podešavanje priključka za blokče
Name[sr@latin]=Podešavanje priključka za blokče
Name[sv]=Inställning av insticksprogram för skrivtavla
Name[uk]=Налаштування додатка дошки
Name[x-test]=xxwhiteboard Plugin Configurationxx
Comment=whiteboard Plugin
Comment[et]=Valgetahvli plugin
Comment[hu]=Faliújság modul
Comment[km]=កម្មវិធី​ជំនួយ whiteboard
Comment[nl]=Plugin van whiteboard
Comment[pl]=Wtyczka białej tablicy
Comment[pt]='Plugin' do Quadro
Comment[pt_BR]=Plugin do whiteboard
Comment[sr]=Прикључак блокчета
Comment[sr@ijekavian]=Прикључак блокчета
Comment[sr@ijekavianlatin]=Priključak blokčeta
Comment[sr@latin]=Priključak blokčeta
Comment[sv]=Insticksprogram för skrivtavla
Comment[uk]=Додаток дошки для малювання
Comment[x-test]=xxwhiteboard Pluginxx
