[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Kopete-Version=1000900
#Icon=preferences-whiteboard-kopete
Icon=view-pim-summary
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_whiteboard
X-KDE-PluginInfo-Author=Lukas Pohl
X-KDE-PluginInfo-Email=dr.zoidberg1969@yahoo.com
X-KDE-PluginInfo-Name=kopete_whiteboard
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Whiteboard
Name[et]=Valgetahvel
Name[hu]=Faliújság
Name[km]=Whiteboard
Name[nl]=Whiteboard
Name[pl]=Biała tablica
Name[pt]=Quadro Branco
Name[pt_BR]=Whiteboard
Name[sr]=Блокче
Name[sr@ijekavian]=Блокче
Name[sr@ijekavianlatin]=Blokče
Name[sr@latin]=Blokče
Name[sv]=Skrivtavla
Name[uk]=Дошка
Name[x-test]=xxWhiteboardxx
Comment=Colaborative drawing and sharing multimedia content
Comment[et]=Koosjoonistamine ja multimeediasisu jagamine
Comment[hu]=Közös rajzolás és multimédiás tartalom megosztása
Comment[km]=ការ​គូរ​ និង​ចែករំលែក​មាតិកា​ពហុមេឌៀ​សហការណ៍
Comment[nl]=In samenwerking gemaakte tekening en delen van multimedia-inhoud
Comment[pl]=Wspólne rysowanie i dzielenie się treścią multimedialną
Comment[pt]=Desenho e partilha colaborativos de conteúdos multimédia
Comment[pt_BR]=Desenho colaborativo e compartilhamento de conteúdo multimídia
Comment[sr]=Сарадничко цртање и дељење мултимедијалног садржаја
Comment[sr@ijekavian]=Сарадничко цртање и дељење мултимедијалног садржаја
Comment[sr@ijekavianlatin]=Saradničko crtanje i deljenje multimedijalnog sadržaja
Comment[sr@latin]=Saradničko crtanje i deljenje multimedijalnog sadržaja
Comment[sv]=Rita och dela multimedia tillsammans
Comment[uk]=Спільне малювання та обмін мультимедійними даними
Comment[x-test]=xxColaborative drawing and sharing multimedia contentxx
